body {
    background-color: rgb(159, 159, 159);
    padding-top: 52px;
    padding-left: 92px;
    margin-right: 0px;
    margin-bottom: 1000px;

    transition: padding-left 1s ease;
}

@media(max-width:500px) {
    body {
        padding-left: 0px;
        margin: 0px;
        margin-top:9px;
    }
}


@media(min-width:1000px) {
    body {
        padding-left: 213px;
    }
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}